<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
	      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">

	<title><%= title %></title>

	<!-- inject:css -->
	<!-- YOUR CSS WILL BE INCLUDED HERE -->
	<!-- endinject -->
</head>
<body>

<h1>It works!</h1>

<!-- inject:vendor -->
<!-- YOUR EXTERNAL DEPENDECIES WILL BE INCLUDED HERE -->
<!-- endinject -->

<!-- inject:js -->
<!-- YOUR JAVASCRIPT WILL BE INCLUDED HERE -->
<!-- endinject -->
</body>
</html>